body.page-template-blog {
  background-image: url(../images/left.jpg);
  background-size : cover;
}
.blog_container {
  height          : calc(100vh - 70px);
  background-color: rgba(0, 0, 0, 0.65);
  overflow        : scroll;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  color           : #FFFFFF;

  article {

    @include card();

    .col-md-6 {
      width   : 100%;

      .event_information {
        position        : absolute;
        border-radius   : 4px;
        padding         : 3px;
        text-align      : center;
        top             : -22px;
        left            : 80%;
        background-color: red;
      }

    }

    .col-md-6 p,
    .col-md-6 h5,
    .col-md-6 h2 {
      color: #ffffff
    }

  }

  h2 a {
    color    : #FFFFFF;
    font-size: 24px;
  }
}
