body.page-template-contact {
  .container {
    background-color: rgba(0, 0, 0, 0.65);
  }
  background-image: url(../images/contact_bg.jpg);
  background-size : cover;
  .wrapper {
    h2 {
      color: #FFFFFF;
    }
    flex-direction: column;
    p {
      color: #FFFFFF;
    }
  }
  
  select {
    border-radius: 0;
    background-color: #FFFFFF;
  }

}