@mixin card() {
  background-color: rgba(0, 0, 0, 0.5);
  color           : #E4E4E4;
  position        : relative;
  width           : 60%;
  padding         : 0 20px;
  margin-bottom   : 30px;
  span.tease_title,
  span.date {
    vertical-align: middle;
  }

  span.tease_title {
    font-size: 36px;
  }

  a.read-more {
    position: absolute;
    bottom  : 5px;
    right   : 10px;
  }

  h2 {
    color: #E4E4E4;
    font-size: 1vw;
    a:hover {
      color: gray;
    }
  }

}