body.post-type-archive-promesse {
  background-image: url(../images/promesses_bg.jpg);
  background-size: cover;
}
.tease-promesse p.content {
  text-align: left;
  padding: 20px;
}

.tease-promesse {
  @include card();

  line-height     : 1.5;

  a {
    color: #FFFFFF;
  }

  a:hover {
    color: gray;
  }

  .content span {
    font-size: 1vw;
  }

}

.tease-promesse h2 a {
  text-align: left;
  color: white;
}