@font-face {
  font-family: "AvenirNext.ttc";
  src        : url(../fonts/AvenirNext.ttc);
}

@font-face {
  font-family: "AvenirNextCondensed.ttc";
  src        : url(../fonts/AvenirNextCondensed.ttc);
}

@font-face {
  font-family: "Avenir.ttc";
  src        : url(../fonts/Avenir.ttc);
}

@font-face {
  font-family: "GothamBold";
  src        : url(../fonts/GothamBold.otf);
}

@font-face {
  font-family: "abodoniNovaBoldIta";
  src        : url(../fonts/abodoniNovaBoldIta.TTF);
}

@font-face {
  font-family: "palatinoBoldItalic";
  src        : url(../fonts/PALATINBOLDITALIC.TTF);
}