{% extends "layouts/base.twig" %}

{% block layout 'blog' %}

{% block content %}

    <h2>{{post.title}}</h2>

    {% for post in posts %}

        {% if has_category(post, 'evenement') %}
            {% include ['partials/tease-event.twig'] %}
        {% elseif has_category(post, 'actualite') %}
            {% include ['partials/tease-news.twig'] %}
        {% else %}
            {% include ['partials/tease.twig'] %}
        {% endif %}

    {% endfor %}

{% endblock %}