{% extends "layouts/base.twig" %}

{% block layout 'index' %}

{% block content %}

	<div class="row">
	{% for post in posts %}
		{% include ['partials/tease-'~post.post_type~'.twig', 'partials/tease.twig'] %}
	{% endfor %}
	</div>

{% endblock %}